:root {
  /*text colors */
  --main-text-color: #A5A5A5;
  --impressive-text-color: #5DB0D7;
  /* backround colors */
  --main-backround-color: #2A2A2A;
}

* {
  color: var(--main-text-color);
}

body {
  background-color: var(--main-backround-color);
}

.impressive-text {
  color: var(--impressive-text-color);
}

.user-avatar,
.author-avatar {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.Comment {
  display: flex;
}

.toggle {
  display: block;
  width: 50px;
  font-weight: bold;
  outline: none;
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
}
.toggle:focus {
  outline: none;
}
.toggle.on {
  border: 2px solid var(--impressive-text-color);
  color: var(--impressive-text-color)
}
