.greetings {
  padding-top: 20px;
}

.login-button {
  margin-top: 10px;
}

.avatar {
  display: block;
  height: 100px;
  width: 100px;
}

.page-container {
  padding-top: 10px;
  textarea {
    width: 350px;
    height: 200px;
  }
}

.flavor-form-container {
  padding-top: 10px;
}

.blog-container {
  padding-top: 10px;
  .sidebar {
    ul {
      padding-left: 10px;
      li:not(:first-child) {
        padding-top: 10px;
      }
    }
  }
  
  .post {
    .status {
      padding: 10px 0;
    }
  }
}


.comments-container {
  padding-top: 10px;
  .author-info-container {
    height: 100%;
  }
}
